* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: seashell;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

footer {
    height: 200px;
    position: relative;
    top: 69px;
    text-align: center;
    padding: 25px;
    line-height: 300%;
}

footer #copyright {
    text-align: left;
}

p {
    font-size: 22px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    text-emphasis: bold;
    line-height: 200%;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

#heading {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%;
    position: fixed;
    padding: 0 10px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.9);
}

#heading img {
    height: 50px;
    width: auto;
}

#mission, #locations {
    position: relative;
    text-align: center;
    top: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mission-content {
    background-color: rgba(0, 0, 0, 0.9);
}

#mission-content, #location-content {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 1050px;
    padding: 20px 0;
}

#mission img {
    height: 700px;
    width: auto;
}

#monthly {
    text-align: center;
    align-items: center;
    width: 1000px;
    padding: 25px 0;
    position: relative;
    top: 69px;
    margin: auto;
}

#monthly #imgs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#monthly img {
    height: 200px;
    width: 300px;
}

.imgdiv {
    padding: 10px;
}

.imgdiv p {
    padding-top: 10px;
}

.location {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 1);
    line-height: 200%;
}

#locationlist {
    display: inline-flex;
    flex-direction: row;
}


